:root{
    --primary-bg: #e3e3e3;
    --primary-text: #444;
    --standard-gap: 40px;
    --secondary-text: black;
}

body{
    font-family: sans-serif;
    background: var(--primary-bg);
    color: var(--primary-text);
}

#projects article{
    margin: var(--standard-gap);
}

nav{
    background: green;
    text-align: center;
    border-bottom: 10px solid green;
    border-top: 7px solid green;
}

nav li {
    display: inline-block;
    margin-left: 1rem;
}

#menu{
    background: white;
}

a{
     color: var(--secondary-text);
}

