:root{
    --primary-bg: black;
    --primary-text: gold;
    --standard-gap: 40px;
    --secondary-text: gold;
    --page-margin: 6rem;
    --highlight :black;
}

body{
    font-family: sans-serif;
    background: var(--primary-bg);
    color: var(--primary-text);
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#projects article{
    margin: var(--standard-gap);

}

nav{
    background: grey;
    text-align: center;
    border-bottom: 1px solid green;
    border-top: 1px solid green;
    border-radius: 10px;
}

nav li {
    display: inline-block;
    margin-left: 1rem;
}

#menu{
    background: black;
}

a{
     color: var(--secondary-text);
}

header{
    text-align: center;
    padding: 1rem;
    padding-top: 1rem;
    padding-right: 0px;
    padding-bottom: 1rem;
    padding-left: 0px;
}

header > a img{
    display: block;
    width: 100%;
    object-fit: cover;
}

nav{
    display: block;
    unicode-bidi: isolate;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

p{
    font-size: 1.2em;
    line-height: 1.6;
}


